@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}
li {
    list-style: none;
}
p {
    line-height: 1.5;
    font-size: 16px;
}
button {
    cursor: pointer;
}
section {
    background-color: #fff;
    transition: all 300ms ease;
}
input,
textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 3px solid #c0c4cc;
    height: 40px;
    transition: all 300ms ease;
}
textarea {
    resize: none;
    height: 100px;
    margin-top: 8px;
}
label {
    font-size: 16px;
    font-weight: bold;
}
input:hover,
textarea:hover {
    border-color: #e0e3e7;
}
.input:focus,
textarea:focus {
    border-color: #f06449;
}
.container {
    padding: 50px;
    width: 100%;
}
.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}
.click {
    cursor: pointer;
    transition: all 300ms ease;
}
.click:hover {
    transform: scale(1.3);
}
.click:active {
    transform: scale(0.9);
}
.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}
.orange {
    color: #f06449 !important;
}
.link__hover-effect {
    position: relative;
}
.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 500ms ease;
}
.link__hover-effect--white:after {
    background-color: #fff;
}
.link__hover-effect--black:after {
    background-color: #242424;
}
.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}
.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
}
/* Dark Theme */
.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .social__link {
    color: white;
}
.dark-theme .social__link{
    outline: 2px solid #fff;
}
.dark-theme section {
    background-color: #242424;
}
.dark-theme #personal-logo {
    filter: none;
}
.dark-theme .scroll__icon {
    border-color: #fff;
}
.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: #fff;
}
.dark-theme .mail__btn {
    background-color: #fff;
    color: #242424;
}
/* locked screen */
#lock {
    position: fixed;
    border: none;
    bottom: 95px;
}
.lockscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    background-color: #242424;
    z-index: 10000;
}
.lockscreen.animate__fadeOut {
    opacity: 0;
    pointer-events: none;
    animation-duration: 2s;
}
.lockscreen.lock {
    opacity: 1;
    pointer-events: all;
    animation-duration: 2s;
}
.card {
    background: linear-gradient(45deg, #252a3f 0%, #131522 100%);
    width: 30em;
    min-height: 35em;
    border-radius: 7em 5px 5em 5px;
    border:2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    position: relative;
    margin: 5em 2em;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.card a{
    color: #fff;
    text-decoration: none;
}
.card-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8em;
    margin: 4em 0;
}
.card img {
    width: 10.5em;
    height: 10.5em;
    object-fit: cover;
    object-position: 0 -20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #1f1f1f
}
.card-img {
    background: linear-gradient(45deg, #a544ff 0%, #5d2cfe 100%);
    border-radius: 50%;
    width: 11em;
    height: 11em;
    position: absolute;
    right: -3.5em;
    top: 9.5em;
    transform: translate(-50%, -50%);
}
.name{
    position: absolute;
    left: -1em;
    top: 7.5em;
    padding: 0.7em 2.5em;
    border-radius: 5px 3em 5px 3em;
    background-color: #fff;
    color: #242424;
    box-shadow: 15px 5px 25px #242424
}
.card-profile h4{
    margin: 0;
}
.card-body{
    padding: 1em 1.5em;
}
.card-body p{
    letter-spacing: 2px;
    font-size: 1.3em;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}
.icons{
    display: flex;
    justify-content: flex-start;
    column-gap: 35px;
    position: relative;
    z-index: 1;
    margin: 15px 0;
    padding-top: 15px;
    
}
.icon{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: shake 1s;
}
.icon__github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
.icon__linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon__pdf:hover{
    background-image: radial-gradient(
        circle at 30% 107%, #FF0274 0%, #FF0078 5%, #e28d89 45%, #ED0E02 90%);
    outline-color: #FF0274;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    30%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    70%{
        transform: rotate(-15deg);
    }
}
.initials {
    color: #2c314a;
    font-size: 5em;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0.2em;
    z-index: 0;
}
.btn {
    position: absolute;
    bottom: -1.5em;
    right: 4em;
    padding: 1.5em;
    background: linear-gradient(45deg, #a544ff 0%, #5d2cfe 100%);
    border-radius: 5px 5px 3em 5px;
    box-shadow: 0px 0px 15px #a544ff;
    transition: 0.4s;
}

.btn:hover {
    transform: translateY(-8px);
}

.fi-rr-lock {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    color: #fff;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    }
}
.area{
    width: 100%;
    height:100vh;
    z-index: -1;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* main landing page */
/*  Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}
.nav__link--list {
    display: flex;
}
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}
#personal-logo {
    width: 80px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
    filter: invert(70%);
}

/* Header */
#landing-page {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    opacity: 0;
}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 100px;
}
.header__para {
    font-size: 24px;
    line-height: 1.5;
    max-width: 450px;
}
.social__list {
    margin-top: 16px;
    display: flex;
}
.social__link {
    outline: 2px solid #242424;
    color: #242424;
    padding: 25px;
    margin-right: 15px;

}
.mail__btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 30px;
    z-index: 100;
    box-shadow: 0 12px 90px 0 rgb(0, 0, 0, 0.28);
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll__icon:after {
    content: "";
    width: 5px;
    height: 7px;
    border-radius: 2px;
    background-color: #242424;
    animation: scroll 1500ms infinite alternate-reverse;
}
@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-6px);
    }
}

/* Modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}
.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}
.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.modal__about {
    background-color: #fff;
    transform: translateX(-110%);
    transition: all 300ms ease-in;
}
.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}
.modal__languages {
    display: flex;
    flex-wrap: wrap;
}
.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}
.modal__language:hover .language__name {
    transform: scale(1);
}
.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}
.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}
.modal__language--img {
    width: 100%;
}
.modal__contact {
    transform: translateX(110%);
    transition: all 300ms ease-in;
    background-color: #242424;
    color: #fff;
}
.modal__title {
    font-size: 32px;
}
.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 16px;
}
.form__item {
    margin-bottom: 20px;
}
.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}
.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}
.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}
.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: all 300ms ease;
}
.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}
.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}
.modal__overlay--visible {
    z-index: 1;
    display: flex;
}
.fa-spinner {
    animation: spinner 750ms infinite linear;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 32px;
    z-index: 100;
}
/* landing page shapes */
.shape {
    position: fixed;
    opacity: 0.5;
}
.shape--0 {
    top: 15vh;
    left: 5vw;
}
.shape--1 {
    top: 15vh;
    left: 50vw;
}
.shape--2 {
    top: 15vh;
    left: 80vw;
}
.shape--3 {
    top: 50vh;
    left: 5vw;
}
.shape--4 {
    top: 50vh;
    left: 50vw;
}
.shape--5 {
    top: 50vh;
    left: 80vw;
}
.shape--6 {
    top: 80vh;
    left: 5vw;
}
.shape--7 {
    top: 80vh;
    left: 50vw;
}
.shape--8 {
    top: 80vh;
    left: 80vw;
}
/* projects */
.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}
.project {
    margin-bottom: 135px;
}
.project__img {
    width: 100%;
    transition: all 600ms ease;
}
.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    overflow: hidden;
}
.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}
.project__wrapper:hover .project__img {
    transform: scale(1.1);
    filter: blur(5px);
}
.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: #fff;
    max-width: 550px;
}
.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
    visibility: visible;
}
.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    visibility: hidden;
}
.project__description--title {
    font-size: 40px;
}
.project__description--sub-title {
    margin-top: 8px;
}
.project__description--link {
    color: #fff;
    font-size: 20px;
    margin-right: 16px;
}
.project__description--para {
    margin: 16px 0;
}
/* footer */
footer {
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}
.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo--img {
    width: 70px;
}
.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}
.footer__social--link,
.footer__copyright {
    color: #fff;
}
.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: white;
}

.footer__anchor {
    position: relative;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
    transition: all 600ms ease;
}
